@model Szakdoga.BLL.Models.UserData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <h1>Kedves @Model.FirstName @Model.LastName!</h1>
    <p>Regisztáltuk a rendszerünkbe, a jelszava a következő: <b>@Model.Password.</b></p>
    <p>Bejelentkezés után változtassa meg!</p>
    <h3>Üdvözlettel,</h3>
    <h3>A MultiTask csapata</h3>
</body>
</html>
